@model pz.Models.PointModel



@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>PointModel</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Description)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Description)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.X)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.X)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Y)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Y)
        </dd>

        <dt>
            <button id='bqr'class="btn-primary">QR Code</button>
        </dt>

        <dd id='qr'>
            <img src="@ViewBag.QRCodeImage" />
        </dd>



    </dl>
    <script>

$(document).ready(function(){
  $("#bqr").click(function(){
    $("#qr").toggle();
  });
});

    </script>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.ID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
